
body {
  font-family: 'Source Code Pro', sans-serif;
}
.wrap {
  padding: 10% 20%;
}
h2 {
  margin-top: 3em;
  color: grey;
  &:first-child {
    margin-top: 0;
  }
}

  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .5s;
  &:hover, {
    background-size: 100% 100%;
    background-position: 0 -0.3em;
  }

}