#background-video {

        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
}

.rejuvinate {
    font-family: Gungsuh;
    font-size: 30px;
    color: orange;
    background-color: rgba(36, 34, 35, 0.2);
    /* background-color: gainsboro; */
    margin-left: 5px;
    padding: 2px;
    position: absolute;
    border-radius: 15px;
    text-decoration: none;
}

.journey {
    font-family: KaiTi, Posterama, Gungsuh; ;
    color: orange;
    position: relative;
    padding: 2px;
    bottom: 10px;
    left: 30px;
    background-color: rgba(36, 34, 35, 0.2);
    border-radius: 15px;
    text-decoration: none;
    display: inline;
}

img {
    width: 65px;
    height: 65px;
    position: relative;
    left: 980px;
    top: 470px;
    background: none;
}

header {
    margin-top: 15px;
}

