#background-video {

        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
}

.rejuvinate {
    font-family: Gungsuh;
    font-size: 30px;
    color: orange;
    background-color: rgba(36, 34, 35, 0.2);
    /* background-color: gainsboro; */
    margin-left: 5px;
    padding: 2px;
    position: absolute;
    border-radius: 15px;
    text-decoration: none;
}

.journey {
    font-family: KaiTi, Posterama, Gungsuh; ;
    color: orange;
    position: relative;
    padding: 2px;
    bottom: 10px;
    left: 30px;
    background-color: rgba(36, 34, 35, 0.2);
    border-radius: 15px;
    text-decoration: none;
    display: inline;
}

img {
    width: 65px;
    height: 65px;
    position: relative;
    left: 980px;
    top: 470px;
    background: none;

}

.rejuvinate:hover {
text-shadow:  0 0 100px rgb(255, 255, 255),0 -4px 100px rgba(255, 255, 255, 0.986);
color: rgb(255, 200, 0);
}

.journey:hover {
text-shadow:  0 0 100px rgb(255, 255, 255),0 -4px 100px rgba(255, 255, 255, 0.986);
color: rgb(255, 200, 0);
    }

header {
    margin-top: 15px;
}



body {
    overflow: hidden;
}

/* DESKTOP */       /* DESKTOP */       /* DESKTOP */       /* DESKTOP */       /* DESKTOP */       
/* DESKTOP */       /* DESKTOP */       /* DESKTOP */       /* DESKTOP */       /* DESKTOP */       

@media (min-width: 1281px) {
  
    #background-video {

        width: 100%;
        height: 100vh;
        object-fit: cover;
        left: 0px;
        right: 0;
        top: 0px;
        bottom: 0;
        z-index: -1;
    }
    
    .rejuvinate {
        font-family: Gungsuh;
        font-size: 36px;
        color: orange;
        background-color: rgba(36, 34, 35, 0.2);
        /* background-color: gainsboro; */
        margin-left: 5px;
        padding: 2px;
        position: absolute;
        border-radius: 15px;
        text-decoration: none;
    }
    
    .journey {
        font-family: KaiTi, Posterama, Gungsuh;
        color: orange;
        position: relative;
        padding: 2px;
        bottom: 5px;
        left: 33px;
        background-color: rgba(36, 34, 35, 0.2);
        border-radius: 15px;
        text-decoration: none;
        display: inline;
        font-size: 20px;
    }
    
    img {
        width: 70px;
        height: 70px;
        position: relative;
        left: 936px;
        top: 465px;
        background: none;
    }
    
  }
  
/* DESKTOPS AND LAPTOPS */          /* DESKTOPS AND LAPTOPS */          /* DESKTOPS AND LAPTOPS */        
/* DESKTOPS AND LAPTOPS */          /* DESKTOPS AND LAPTOPS */          /* DESKTOPS AND LAPTOPS */

  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    #background-video {

        width: 100%;
        height: 100vh;
        object-fit: cover;
        left: 0px;
        right: 0;
        top: 0px;
        bottom: 0;
        z-index: -1;
    }
    
    .rejuvinate {
        font-family: Gungsuh;
        font-size: 34px;
        color: orange;
        background-color: rgba(36, 34, 35, 0.2);
        /* background-color: gainsboro; */
        margin-left: 5px;
        padding: 2px;
        position: absolute;
        border-radius: 15px;
        text-decoration: none;
    }
    
    .journey {
        font-family: KaiTi, Posterama, Gungsuh;
        color: orange;
        position: relative;
        padding: 2px;
        bottom: 6px;
        left: 37px;
        background-color: rgba(36, 34, 35, 0.2);
        border-radius: 15px;
        text-decoration: none;
        display: inline;
        font-size: 18px;
    }
    
    img {
        width: 67px;
        height: 67px;
        position: relative;
        left: 710px;
        top: 482px;
        background: none;
    }
    
  }
  
/* TABLETS & IPODS */       /* TABLETS & IPODS */       /* TABLETS & IPODS */       /* TABLETS & IPODS */       
/* TABLETS & IPODS */       /* TABLETS & IPODS */       /* TABLETS & IPODS */       /* TABLETS & IPODS */       

  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    #background-video {

        width: 100%;
        height: 100vh;
        object-fit: cover;
        left: 0px;
        right: 0;
        top: 0px;
        bottom: 0;
        z-index: -1;
    }
    
    .rejuvinate {
        font-family: Gungsuh;
        font-size: 34px;
        color: orange;
        background-color: rgba(36, 34, 35, 0.2);
        /* background-color: gainsboro; */
        margin-left: 5px;
        padding: 2px;
        position: absolute;
        border-radius: 15px;
        text-decoration: none;
    }
    
    .journey {
        font-family: KaiTi, Posterama, Gungsuh;
        color: orange;
        position: relative;
        padding: 2px;
        bottom: 4px;
        left: 37px;
        background-color: rgba(36, 34, 35, 0.2);
        border-radius: 15px;
        text-decoration: none;
        display: inline;
        font-size: 18px;
    }
    
    img {
        width: 67px;
        height: 67px;
        position: relative;
        left: 710px;
        top: 482px;
        background: none;
    }
    
  }
  
/* TABLETS & IPODS (LANDSCAPE)*/        /* TABLETS & IPODS (LANDSCAPE)*/        /* TABLETS & IPODS (LANDSCAPE)*/        
/* TABLETS & IPODS (LANDSCAPE)*/        /* TABLETS & IPODS (LANDSCAPE)*/        /* TABLETS & IPODS (LANDSCAPE)*/        

  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    #background-video {

        width: 100%;
        height: 100vh;
        object-fit: cover;
        left: 0px;
        right: 0;
        top: 0px;
        bottom: 0;
        z-index: -1;
    }
    
    .rejuvinate {
        font-family: Gungsuh;
        font-size: 31px;
        color: orange;
        background-color: rgba(36, 34, 35, 0.2);
        /* background-color: gainsboro; */
        margin-left: 5px;
        padding: 2px;
        position: absolute;
        border-radius: 15px;
        text-decoration: none;
    }
    
    .journey {
        color: orange;
        position: relative;
        padding: 2px;
        bottom: 9px;
        left: 35px;
        background-color: rgba(36, 34, 35, 0.2);
        border-radius: 15px;
        text-decoration: none;
        display: inline;
        font-size: 16px;
    }
    
    img {
        width: 65px;
        height: 65px;
        position: relative;
        left: 483px;
        top: 486px;
        background: none;
    }
    
  }
    
  
/* TABLETS, IPODS & MOBILES (LANDSCAPE)*/       /* TABLETS, IPODS & MOBILES (LANDSCAPE)*/
/* TABLETS, IPODS & MOBILES (LANDSCAPE)*/       /* TABLETS, IPODS & MOBILES (LANDSCAPE)*/
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    #background-video {

        width: 100%;
        height: 100vh;
        object-fit: cover;
        left: 0px;
        right: 0;
        top: 0px;
        bottom: 0;
        z-index: -1;
    }
    
    .rejuvenate {
    font-family: Gungsuh;
    font-size: 28px;
    color: orange;
    background-color: rgba(36, 34, 35, 0.2);
    /* background-color: gainsboro; */
    margin-left: 1px;
    padding: 2px;
    position: absolute;
    border-radius: 15px;
    text-decoration: none;
    }
    
    .journey {
        color: orange;
        position: relative;
        padding: 3px;
        bottom: 7px;
        left: 38px;
        background-color: rgba(36, 34, 35, 0.2);
        border-radius: 15px;
        text-decoration: none;
        display: inline;
        font-size: 15px;
    }
    
    img {
        width: 62px;
        height: 62px;
        position: relative;
        left: 205px;
        top: 488px;
        background: none;
    }
    
  }
  
/* SMARTPHONES (PORTRAIT)*/     /* SMARTPHONES (PORTRAIT)*/     /* SMARTPHONES (PORTRAIT)*/     
/* SMARTPHONES (PORTRAIT)*/     /* SMARTPHONES (PORTRAIT)*/     /* SMARTPHONES (PORTRAIT)*/     
  
  @media (min-width: 320px) and (max-width: 480px) {
    
#background-video {

    width: 100%;
    height: 100vh;
    object-fit: cover;
    left: 0px;
    right: 0;
    top: 0px;
    bottom: 0;
    z-index: -1;
}

.journey { 
    font-family: Gungsuh;
    font-size: 24px!;
    color: orange;
    background-color: rgba(36, 34, 35, 0.2);
    /* background-color: gainsboro; */
    margin-left: -1px;
    padding: 2px;
    position: absolute;
    border-radius: 15px;
    text-decoration: none;
}

.journey { 
    color: orange;
    position: relative;
    padding: 2px;
    bottom: 8px;
    left: 50px;
    background-color: rgba(36, 34, 35, 0.2);
    border-radius: 15px;
    text-decoration: none;
    display: inline;
    font-size: 13px;
}

img {
    width: 60px;
    height: 60px;
    position: relative;
    left: 75px;
    top: 490px;
    background: none;

}
    
}

